# Data Visualisation  

Short notebook with example code for how to connect to and visualise some data

# Import packages

In [1]:
# Import packages
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from typing import List, Tuple

## Create database connection

In [ ]:
# Create a list of table names to load from the database
tables = [tracks, albums, artists, genres]

# Create an engine to connect to the database
engine = create_engine('sqlite:///chinook/chinook.db')

# Load tables with pandas
def load_tables(table_name: str, con: object) -> None:
    """Returns a Pandas DataFrame when passed the name of SQLite table and a connection object
    
    Args:
    table_name: name of table in SQLite database
    con: sqlalchemy connection object
    
    Returns:
    A Pandas DataFrame for each table name in the list
    """
    table = pd.read_sql(f"SELECT * FROM {table_name};", con)
    return table

with engine.connect() as con:
    for table in tables:
        table = load_tables(table, con)
        output = table.to_csv(f'./data/{table}.csv', index=False)


# Call the load_tables function on each table

## Inspect some data

In [ ]:
# Get dataframes info
for table in tables:
    print(f"{table}\ntable.info())
    print(table.head())
    print(table.describe())
    print(table.columns)
    print(table.shape)
    print(table.dtypes)
    print(table.isnull().sum())
    print(table.nunique())

## Join some tables

## Visualise some data